/* Styling for the brand name in the navbar */
nav .navbar-brand {
    font-size: xx-large; /* Set font size */
}

/* Color variations for different parts of the brand name */
nav .navbar-brand .blue {
    color: #537fbe; /* Blue color */
}
nav .navbar-brand .red {
    color: #ea433b; /* Red color */
}
nav .navbar-brand .yellow {
    color: #f5b82e; /* Yellow color */
}
nav .navbar-brand .green {
    color: #2e944b; /* Green color */
}