{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <div class="container mt-5 text-center">
        <h1>Oops!</h1>
        <img alt="{{ top }}" class="border img-fluid mb-4" src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}">
        <div>
            <button class="btn btn-primary mt-3" onclick="history.back()">Go Back</button>
        </div>
    </div>
{% endblock %}
