{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1 class="mb-4">Change Password</h1>
        <form action="{{ url_for('change_password') }}" method="post">
            <div class="mb-3">
                <label for="current_password" class="form-label">Current Password</label>
                <input type="password" name="current_password" id="current_password" class="form-control mx-auto w-auto" placeholder="Enter current password" required>
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label">New Password</label>
                <input type="password" name="new_password" id="new_password" class="form-control mx-auto w-auto" placeholder="Enter new password" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm New Password</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control mx-auto w-auto" placeholder="Confirm new password" required>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
{% endblock %}
